/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-background-color: #303030;
}
.label, .label:selected, .check-box:selected, .radio-button:selected{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.check-box, .radio-button{
    -fx-text-fill: #ffffffbb;
    -fx-font-weight: bold;
}

.titled-pane{
    -fx-text-fill: black;
}
.title{
    -fx-background-color: #e8e8e8;
    -fx-font-weight: bold;
}

.tooltip{
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-text-fill: black;
    -fx-background-color: #e8e8e8;
}
.text-field:readonly{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #808080;
    -fx-border-color: black;
}
.text-field{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: #c0c0c0;
    -fx-border-color: black;
}
.error-text-field{
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-font-weight: bold;
    -fx-background-color: white;
}
.content{
    -fx-background-color: #080808;
	-fx-border-color: white;
	-fx-border-insets: 1;
}
.spinner{
    -fx-background-color: #282828;
}

.choice-box, .button{
    -fx-background-color: #9B4642;
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.context-menu{
    -fx-background-color: #9B4642;
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
}

.toggle-button:selected{
    -fx-text-fill: #e8e8e8;
}
.toggle-button{
    -fx-background-color: transparent;
    -fx-text-fill: #e8e8e89d;
    -fx-font-weight: bold;
}
.jfx-toggle-button {
    -jfx-toggle-color: #e8e8e8;
    -jfx-untoggle-color: #808080;
    -jfx-toggle-line-color: #e8e8e899;
    -jfx-untoggle-line-color: #80808099;
    -jfx-size: 10.0;
    -jfx-disable-visual-focus: true;
}

.increment-arrow-button{
    -fx-background-radius: 0 12 0 0;
}
.decrement-arrow-button{
    -fx-background-radius: 0 0 12 0;
}
.increment-arrow-button, .decrement-arrow-button{
    -fx-background-color: #9B4642;
}
.increment-arrow, .decrement-arrow{
    -fx-background-color: #e8e8e8;
}
.arrow{
    -fx-background-color: black;
}

.big-text-field{
    -fx-font-size: 24px;
}

.key-text-field:readonly{
    -fx-text-fill: silver;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-border-color: silver;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.lamp-text-field:readonly{
    -fx-text-fill: black;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: silver;
    -fx-background-radius: 26;
    -fx-border-radius: 26;
}


/*
.imageButton{
    -fx-background-color: null;
    -fx-text-fill: null;
}

.progress-bar{
    -fx-accent: #9B4642;
}

.table-view{
    -fx-background-color: black;
    -fx-font-weight: bold;
}
.column-header, .filler{
    -fx-background-color: #9B4642;
    -fx-font-weight: bold;
}

.list-cell{
    -fx-font-weight: bold;
}

.list-cell:selected{
    -fx-text-fill: black;
    -fx-background-color: #9B4642;
    -fx-accent: #9B4642;
}
.list-cell:even{
    -fx-background-color: #f8f8f8;
}
.list-cell:odd{
    -fx-background-color: #e8e8e8;
}
*/